body {
	margin: 0px;
	font: 16px Arial, Helvetica, sans-serif;
}

h2 {
	text-align: center;
	display: 3;
	color: #cc0099;
}

.viagens {
	width: 100%;
	height: 100%
}

.cards {
	float: left;
	margin: 5px;
	padding: 5px;
}

.poster {
	width: 100%;
	height: 100%;
}

.poster img{
	width: 200px;
	height: 200px;
	border: 2px;
	border-color: #0B2F3A;
}

.titulo{
	margin: 0px;
	text-align: center;
	font-size: 30px;
	color: #0B2F3A;
	background-color: #01DFD7;
}

